.profile-container {
  .actions {
    gap: 1rem;
    display: flex;
    margin-top: 1rem;
    
    button {
      flex: 1;
    }
  }

  .avatar {
    cursor: default; // Аватар не кликабельный на чужой странице
  }

  .avatar-container {
    position: relative;
  }

  mat-form-field {
    pointer-events: none; // Запрещаем редактирование полей
  }
}

.avatar-container {
  position: relative;

  .external-icon {
    right: 8px;
    bottom: 8px;
    position: absolute;
  }
}

.social-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
