.profile-container {
  .avatar {
    cursor: default; // Аватар не кликабельный на чужой странице
  }

  .avatar-container {
    position: relative;
  }

  mat-form-field {
    pointer-events: none; // Запрещаем редактирование полей
  }
}

.avatar-container {
  position: relative;

  .external-icon {
    right: 8px;
    bottom: 8px;
    position: absolute;
  }
}
