<mat-card class="md-container" appearance="outlined">
  <a mat-button routerLink="/manuals" class="nav-btn" [class.full-width]="isMediumScreen">
    Назад
  </a>

  <h1>Публичная оферта на оказание услуг</h1>
  <p><em>Последнее обновление: 01.03.2025</em></p>

  <section>
    <h2>1. Общие положения</h2>
    <p>Настоящая публичная оферта (далее - «Оферта») определяет условия предоставления премиум-подписки...</p>
  </section>

  <section>
    <h2>2. Порядок оплаты</h2>
    <p>Оплата производится через платежную систему ЮКасса. Подписка автоматически продлевается...</p>
  </section>

  <section>
    <h2>3. Права и обязанности сторон</h2>
    <p>Исполнитель обязуется предоставить доступ к премиум-функциям в течение срока действия подписки...</p>
  </section>


  <footer class="footer">
    <p>© 2025 TCorporation. Все права защищены.</p>
    <p>Юрисдикция: Российская Федерация</p>
  </footer>
</mat-card>
