.settings-container {
  padding: 24px;
  max-width: 800px;

  .toggle-section {
    gap: 12px;
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-top: 1px solid var(--mat-sys-outline-variant);

    button {
      justify-content: flex-start;
      gap: 8px;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 32px;
  }

  h3 {
    margin: 16px 0;
  }
}
