<mat-card class="settings-container" appearance="outlined">
  <a class="mb" mat-button routerLink="/">На главную</a>
  <h1>Настройки сайта</h1>

  <mat-card-content class="toggle-section">
    @if (isDesktop) {
      <mat-slide-toggle
        [checked]="themeService.cursorsEnabled()"
        (change)="themeService.toggleCursors($event.checked)">
        Кастомные курсоры
      </mat-slide-toggle>
    }

    <mat-slide-toggle
      [checked]="audioService.isEnabled()"
      (change)="audioService.toggleMusic($event.checked)">
      Фоновая музыка
    </mat-slide-toggle>

    <div>Громкость</div>
    <mat-slider
      min="0"
      step="1"
      discrete
      max="100"
      showTickMarks
      class="full-width"
      (change)="setVolumeFromEvent($event)">
      <input matSliderThumb [(ngModel)]="audioService.targetVolume">
    </mat-slider>
  </mat-card-content>
</mat-card>
