<mat-card appearance="outlined" class="settings-container">
  <a class="mb" mat-button routerLink="/">На главную</a>
  <h1>Настройки сайта</h1>

  <mat-card-content class="toggle-section">
    @if (isDesktop) {
      <mat-slide-toggle
        [checked]="themeService.cursorsEnabled()"
        (change)="themeService.toggleCursors($event.checked)">
        Кастомные курсоры
      </mat-slide-toggle>
    }

    <mat-slide-toggle
      (change)="audioService.toggleMusic($event.checked)"
      [checked]="audioService.isEnabled()">
      Фоновая музыка
    </mat-slide-toggle>

    <div>Громкость</div>
    <mat-slider
      (change)="setVolumeFromEvent($event)"
      class="full-width"
      discrete
      max="100"
      min="0"
      showTickMarks
      step="1">
      <input [(ngModel)]="audioService.targetVolume" matSliderThumb>
    </mat-slider>
  </mat-card-content>
</mat-card>
