<h2 mat-dialog-title>Изменить баннер</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-radio-group formControlName="bannerType">
      <mat-radio-button value="color">Выбрать цвет</mat-radio-button>
      <mat-radio-button value="image">Выбрать изображение</mat-radio-button>
    </mat-radio-group>

    @switch (form.get('bannerType')?.value) {
      @case('color') {
        <mat-form-field>
          <mat-label>Выберите цвет</mat-label>
          <input
            matInput
            type="color"
            formControlName="color"
            (input)="onColorSelected($event.target)"
          >
        </mat-form-field>
      }
      @case ('image') {
        <div class="file-input-container">
          <label>
            <span class="file-label">Загрузить файл</span>
            <input
              type="file"
              accept="image/*"
              class="file-input"
              (change)="onFileSelected($event)"
            >
          </label>
        </div>

        @if (previewUrl) {
          <img
            inspectable
            [src]="previewUrl"
            alt="Preview Banner"
            class="preview-image"
          >
        }
      }
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-button
    type="button"
    (click)="cancel()"
  >
    Отменить
  </button>
  <button
    mat-button
    type="button"
    (click)="confirm()"
    [disabled]="!form.valid"
  >
    Сохранить
  </button>
</mat-dialog-actions>
