<h2 mat-dialog-title>Изменить баннер</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-radio-group formControlName="bannerType">
      <mat-radio-button value="color">Выбрать цвет</mat-radio-button>
      <mat-radio-button value="image">Выбрать изображение</mat-radio-button>
    </mat-radio-group>

    @switch (form.get('bannerType')?.value) {
      @case('color') {
        <mat-form-field>
          <mat-label>Выберите цвет</mat-label>
          <input matInput type="color" (input)="onColorSelected($event.target)">
        </mat-form-field>
      }
      @case ('image') {
        @if (isPremium) {
          <mat-form-field>
            <mat-label>URL изображения</mat-label>
            <input matInput formControlName="imageUrl">
            @if (form.get('imageUrl')?.hasError('required')) {
              <mat-error>Пожалуйста, введите URL изображения.</mat-error>
            } @else if (form.get('imageUrl')?.hasError('url')) {
              <mat-error>Введите корректный URL.</mat-error>
            }
          </mat-form-field>

          <mat-form-field>
            <mat-label>Или загрузить файл</mat-label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*">
          </mat-form-field>
        } @else {
          <p>Для загрузки изображения требуется подписка.</p>
          <mat-icon>lock</mat-icon>
        }
      }
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-button (click)="cancel()">Отменить</button>
  <button type="button" mat-button (click)="confirm()" [disabled]="!form.valid">Сохранить</button>
</mat-dialog-actions>
