<h2 mat-dialog-title>{{ data.lesson ? 'Редактировать урок' : 'Добавить урок' }}</h2>
<mat-dialog-content class="full-width">
  <form [formGroup]="lessonForm">
    <!-- Название урока -->
    <mat-form-field appearance="outline">
      <mat-label>Название урока</mat-label>
      <input formControlName="title" matInput maxlength="50" required>
      @if (lessonForm.get('title')?.invalid && lessonForm.get('title')?.touched) {
        <mat-error>Название урока обязательно</mat-error>
      }
    </mat-form-field>

    <!-- Тип урока -->
    <mat-form-field appearance="outline">
      <mat-label>Тип урока</mat-label>
      <mat-select formControlName="lessonType" required>
        @for (lessonType of lessonTypes; track lessonType.value) {
          <mat-option [value]="lessonType.value">{{ lessonType.label }}</mat-option>
        }
      </mat-select>
      @if (lessonForm.get('lessonType')?.invalid && lessonForm.get('lessonType')?.touched) {
        <mat-error>Тип урока обязателен</mat-error>
      }
    </mat-form-field>

    <!-- Поля в зависимости от типа урока -->
    @switch (lessonForm.get('lessonType')?.value) {
      @case (LessonType.LongRead) {
        <!-- Загрузка .md файла -->
        <mat-form-field appearance="outline">
          <mat-label>Документ (.md)</mat-label>
          <input matInput formControlName="longReadUrl" readonly required>
          <button type="button" class="upload-button" mat-icon-button (click)="openFilePicker('md')">
            <mat-icon>attach_file</mat-icon>
          </button>
          @if (lessonForm.get('longReadUrl')?.invalid && lessonForm.get('longReadUrl')?.touched) {
            <mat-error>Документ обязателен</mat-error>
          }
        </mat-form-field>
      }
      @case (LessonType.Video) {
        <!-- Загрузка .mp4 видео -->
        <mat-form-field appearance="outline">
          <mat-label>Видео (.mp4)</mat-label>
          <input matInput formControlName="videoUrl" readonly required>
          <button type="button" class="upload-button" mat-icon-button (click)="openFilePicker('mp4')">
            <mat-icon>attach_file</mat-icon>
          </button>
          @if (lessonForm.get('videoUrl')?.invalid && lessonForm.get('videoUrl')?.touched) {
            <mat-error>Видео обязательно</mat-error>
          }
        </mat-form-field>
      }
      @case (LessonType.Test) {
        <!-- Создание теста -->
        <div formArrayName="questions">
          @for (question of questions.controls; track question; let i = $index) {
            <div class="question-card" [formGroupName]="i">
              <div class="question-content">
                <mat-form-field appearance="outline">
                  <mat-label>Вопрос</mat-label>
                  <input matInput formControlName="text" required maxlength="200">
                  @if (question.get('text')?.invalid && question.get('text')?.touched) {
                    <mat-error>Текст вопроса обязателен</mat-error>
                  }
                </mat-form-field>

                <!-- Тип ответа (Single или Multiple) -->
                <mat-form-field appearance="outline">
                  <mat-label>Тип ответа</mat-label>
                  <mat-select formControlName="answerType" required>
                    @for (answerType of answerTypes; track answerType.value) {
                      <mat-option [value]="answerType.value">{{ answerType.label }}</mat-option>
                    }
                  </mat-select>
                  @if (question.get('answerType')?.invalid && question.get('answerType')?.touched) {
                    <mat-error>Тип ответа обязателен</mat-error>
                  }
                </mat-form-field>

                <!-- Ответы -->
                <div formArrayName="answers">
                  @for (answer of getAnswers(question).controls; track answer; let j = $index) {
                    <div class="answer-item mb-2" [formGroupName]="j">
                      <mat-form-field appearance="outline">
                        <mat-label>Ответ</mat-label>
                        <input matInput formControlName="text" required maxlength="100">
                        @if (answer.get('text')?.invalid && answer.get('text')?.touched) {
                          <mat-error>Текст ответа обязателен</mat-error>
                        }
                      </mat-form-field>
                      <mat-slide-toggle formControlName="isCorrect" (change)="onCorrectAnswerChange(question, j)">
                        Правильный ответ
                      </mat-slide-toggle>
                      <button type="button" mat-button color="warn" (click)="removeAnswer(question, j)">Удалить ответ
                      </button>
                    </div>
                  }
                  <button type="button" class="add-answer-button" mat-button color="primary"
                          (click)="addAnswer(question)">Добавить ответ
                  </button>
                </div>
              </div>
              <button type="button" class="remove-question-button" mat-button color="warn" (click)="removeQuestion(i)">
                Удалить вопрос
              </button>
            </div>
          }
          <button type="button" class="add-question-button" mat-button color="primary" (click)="addQuestion()">Добавить
            вопрос
          </button>
        </div>
      }
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onCancel()" mat-button type="button">Отмена</button>
  <button (click)="onSave()" [disabled]="lessonForm.invalid" mat-button type="button">Сохранить</button>
</mat-dialog-actions>
