<mat-card appearance="outlined" class="form-container">
  <mat-card-header class="center-control">
    <mat-card-title>
      <h2>Регистрация</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Имя пользователя</mat-label>
        <input autocomplete="username" formControlName="username" id="username" matInput maxlength="20"
               placeholder="Придумайте логин">

        @if (form.get('username')?.hasError('asyncValidation')) {
          <mat-progress-spinner matSuffix mode="indeterminate" diameter="20"></mat-progress-spinner>
        }

        @if (form.get('username')?.hasError('duplicateUsername')) {
          <mat-error>Имя пользователя уже занято</mat-error>
        } @else if (form.get('username')?.hasError('invalidLength')) {
          <mat-error>Имя должно быть от 3 до 20 символов.</mat-error>
        } @else if (form.get('username')?.hasError('invalidStartOrEnd')) {
          <mat-error>Имя не может начинаться или заканчиваться подчёркиванием.</mat-error>
        } @else if (form.get('username')?.hasError('invalidCharacters')) {
          <mat-error>Используйте только латиницу, цифры и подчёркивание.</mat-error>
        } @else if (form.get('username')?.hasError('tooMuchUnderscores')) {
          <mat-error>Имя не может иметь более одного подчёркивания.</mat-error>
        } @else if (form.get('username')?.hasError('forbiddenWord')) {
          <mat-error>Имя содержит запрещённые слова.</mat-error>
        } @else if (form.get('username')?.hasError('serverError')) {
          <mat-error>{{ form.get('username')?.getError('serverError') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Адрес электронной почты</mat-label>
        <input autocomplete="email" formControlName="email" id="email" matInput matTooltip="Поддерживаемые домены: mail.ru, xmail.ru, gmail.com, vk.com, yandex.ru, icloud.com"
               maxlength="100"
               placeholder="Введите электронную почту">

        @if (form.get('email')?.hasError('asyncValidation')) {
          <mat-progress-spinner matSuffix mode="indeterminate" diameter="20"></mat-progress-spinner>
        }
        @if (form.get('email')?.hasError('duplicateEmail')) {
          <mat-error>Почта уже занята</mat-error>
        } @else if (form.get('email')?.hasError('invalidDomain') && form.get('email')?.touched) {
          <mat-error>
            <button type="button" mat-stroked-button (click)="openEmailHelp()">Неподдерживаемый домен</button>
          </mat-error>
        } @else if (form.get('email')?.hasError('serverError')) {
          <mat-error>{{ form.get('email')?.getError('serverError') }}</mat-error>
        } @else if (form.get('email')?.invalid && form.get('email')?.touched) {
          <mat-error>Пожалуйста, введите корректный адрес электронной почты.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width mb">
        <mat-label>Пароль</mat-label>
        <input
          [attr.aria-label]="hidePassword() ? 'Показать пароль' : 'Скрыть пароль'"
          [matTooltip]="hidePassword() ? 'Показать пароль' : 'Скрыть пароль'"
          [type]="hidePassword() ? 'password' : 'text'"
          autocomplete="new-password"
          formControlName="password"
          id="password"
          matInput
          maxlength="50"
          placeholder="Введите ваш пароль"
        >

        <button
          (click)="hidePassword.set(!hidePassword())"
          [attr.aria-label]="hidePassword() ? 'Показать пароль' : 'Скрыть пароль'"
          [matTooltip]="hidePassword() ? 'Показать пароль' : 'Скрыть пароль'"
          class="input-button"
          mat-icon-button
          matSuffix
          tabindex="-1"
          type="button"
        >
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <mat-error>Пароль должен быть длиннее 8-и символов, содержать цифру, заглавную и строчную буквы.</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Повторите пароль</mat-label>
        <input [type]="hidePassword() ? 'password' : 'text'" autocomplete="new-password" formControlName="repeatPassword" id="repeat-password" matInput
               maxlength="50" placeholder="Введите ваш пароль">

        <button (click)="hidePassword.set(!hidePassword())" [attr.aria-label]="hidePassword() ? 'Показать пароль' : 'Скрыть пароль'" class="input-button" mat-icon-button matSuffix
                tabindex="-1" type="button">
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        @if (form.hasError('passwordsDontMatch') && form.get('repeatPassword')?.touched) {
          <mat-error>Пароли не совпадают.</mat-error>
        } @else if (form.get('password')?.invalid && form.get('password')?.touched) {
          <mat-error>Пожалуйста, повторите пароль</mat-error>
        }
      </mat-form-field>

      <div class="cf-turnstile" data-sitekey="0x4AAAAAAA-lpuh_BYavc73X"></div>
      @if (form.get('cfToken')?.invalid && (form.get('cfToken')?.touched || form.get('cfToken')?.dirty)) {
        <mat-error class="captcha-error">
          @if (form.get('cfToken')?.hasError('required')) {
            Пожалуйста, пройдите проверку безопасности
          }
        </mat-error>
      }

      <button
        [disabled]="form.invalid || form.pending || loading()"
        class="full-width"
        color="primary"
        mat-flat-button
        type="submit"
      >
        @if (loading()) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          Создать аккаунт
        }
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions class="center-control form-actions">
    <button mat-raised-button routerLink="/login" type="button">
      Войти в учетную запись
    </button>
    <button mat-stroked-button routerLink="/manuals/privacypolicy" type="button">
      Политика конфиденциальности
    </button>
    <button mat-stroked-button routerLink="/manuals/termsofuse" type="button">
      Условия использования
    </button>
  </mat-card-actions>
</mat-card>
