.activity-container {
  display: flex;
  padding: 4px * 5;
  flex-direction: column;
}

.activity-info:not(:empty) {
  padding: 4px * 5;
  // background: @dark-bg;
  border-radius: 4px;
  // box-shadow: 0 4px * 0.5 4px @card-shadow;
}

.activity-details {
  display: flex;
}

.activity-left {
  flex: 2; // Левый столбец занимает больше пространства
  padding: 4px * 2;
}

.activity-right {
  flex: 1;
  display: flex;
  gap: 4px * 2;
  padding: 4px * 2;
  flex-direction: column;
}

.card {
  padding: 4px * 2;
  border-radius: 4px;
  // background: @light-bg;
  // box-shadow: 0 4px * 0.5 4px @card-shadow;
}

.activity-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 4px * 2;

  img {
    width: 100%;
    height: auto;
    max-width: 400px;
    object-fit: cover;
    border-radius: 4px;
  }
}

ul {
  li {
    font-weight: bold;
    // color: @text-secondary;
  }
}

.info-cards {
  display: grid;
  gap: 4px * 2;
  grid-template-columns: repeat(auto-fill, minmax(4px * 50), 1fr);
}

.info-card {
  flex: 1;
  padding: 4px * 2;
  text-align: center;
  // background: @card-bg;
  border-radius: 4px;
  min-width: 4px * 50;
  transition: transform 0.3s ease;
  // box-shadow: 0 4px * 0.25 4px * 0.5 @card-shadow;

  img {
    height: auto;
    max-width: 100%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.info-cards {
  display: flex;
  gap: 4px * 2;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  font-weight: bold;
  padding: 4px * 5;
  text-align: center;
  // color: @text-primary;
  font-size: 24px;
}

.topics-container {
  padding: 4px * 2 4px * 5;
}

.topic-card {
  padding: 4px * 4;
  // background: @card-bg;
  border-radius: 4px;
  margin-bottom: 4px * 4;
  transition: box-shadow 0.3s ease;
  // box-shadow: 0 4px * 0.25 4px * 0.5 @card-shadow;

  &:hover {
    // box-shadow: 0 4px 4px * 2 @card-shadow;
  }
}

.tags-container {
  display: flex;
  gap: 4px * 2;
  flex-wrap: wrap;
  margin-bottom: 4px * 4;

  .tag-card {
    // background: @card-bg;
    border-radius: 4px * 4;
    font-size: 18px;
    padding: 4px * 1.5 4px * 3;
    transition: box-shadow 0.3s ease;
    // box-shadow: 0 4px * 0.25 4px * 0.5 @card-shadow;

    @media (max-width: 767px) {
      width: 100%;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .activity-details {
    display: flex;
  }

  .activity-right {
    padding: 4px * 2;
    border-radius: 4px;
    // box-shadow: 0 4px * 0.5 4px @card-shadow;
  }
}

@media (max-width: 767px) {
  .activity-info {
    display: block;
  }

  .activity-details {
    display: block;
  }
}

.topics-container {
  padding: 4px * 2 4px * 5;

  mat-tree {
    padding: 4px * 2;
    border-radius: 4px;

    .tree-node {
      display: flex;
      padding: 4px;
      cursor: pointer;
      align-items: center;
      font-size: 24px;

      &:hover {
        // background: rgba(255, 255, 255, 0.1);
      }

      button {
        margin-right: 4px;
      }
    }

    .tree-node-hidden {
      display: none;
    }
  }
}
