<mat-card appearance="outlined" class="ticket-list-container container">
  <div class="action-bar">
    <a routerLink="/"
       mat-stroked-button
       class="back-btn mb">
      <mat-icon>arrow_back</mat-icon>
      <span>На главную</span>
    </a>

    <a class="add-btn"
       mat-stroked-button
       [@pulseAnimation]="'hover'"
       (click)="openCreateTicketDialog()">
      <mat-icon>add</mat-icon>
      <span>Добавить</span>
    </a>
  </div>

  <div class="ticket-grid">
    @if (loading) {
      <div class="loading-wrapper">
        <mat-spinner diameter="40" strokeWidth="4"></mat-spinner>
      </div>
    } @else {
      @for (ticket of paginatedTickets; track ticket.id) {
        <mat-card appearance="outlined"
                  [@cardHover]="'hover'"
                  class="ticket-card cursor-pointer"
                  (click)="navigateToTicketDetails(ticket.id!)">
          <div class="type-banner"
               [style.background]="TicketTypeHelper.getColor(ticket.type)">
            {{ TicketTypeHelper.getName(ticket.type) }}
            <div class="status-icon">
              <mat-icon>{{ TicketStatusHelper.getStatusIcon(ticket.status) }}</mat-icon>
            </div>
          </div>

          <div class="card-content">
            <h3 class="title">{{ ticket.title }}</h3>
            <p class="description">{{ (ticket.description || '') | ellipsis:100 }}</p>
            <div class="meta-footer">
              <div class="author-info" (click)="$event.stopPropagation()">
                <button mat-stroked-button
                        [matMenuTriggerFor]="userMenu"
                        class="user-btn">
                  <img [src]="ticket.author?.avatarUrl"
                       class="pixel-avatar"
                       noDownloading
                       alt="Аватар">
                  <span class="username">{{ ticket.author?.username! | ellipsis:12 }}</span>
                </button>
                <mat-menu #userMenu>
                  <app-user-menu [user]="ticket.author!" [redirectOnly]="true"/>
                </mat-menu>
              </div>

              <div class="status-time">
                <span class="time">
                  {{ ticket.createdAt | ruDateTime: 'relative' }}
                </span>
              </div>
            </div>
          </div>
        </mat-card>
      } @empty {
        <div class="empty-state">
          <div class="empty-illustration">
            <img src="assets/niko/sad.webp"
                 class="pixel-image"
                 noDownloading
                 alt="Пусто">
          </div>
          <h3 class="empty-title">Нет тикетов</h3>
          <a mat-flat-button
             class="create-btn"
             (click)="openCreateTicketDialog()">
            Создать первый тикет
          </a>
        </div>
      }
    }
  </div>

  <mat-paginator [pageSize]="pageSize"
                 class="pixel-paginator"
                 [length]="tickets.length"
                 (page)="onPageChange($event)"
                 [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</mat-card>
