<div class="container">
  @if (questions && userAnswers) {
    @for (question of questions; track question) {
      <mat-card class="question-card" [ngClass]="{
        'answered': isQuestionAnswered(question.id),
        'correct': isAnswerCorrect(question.id),
        'incorrect': isQuestionAnswered(question.id) && !isAnswerCorrect(question.id)
      }">
        <mat-card-header>
          <mat-card-title>{{ question.text }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (isLoading(question.id)) {
            <!-- Спиннер загрузки -->
            <mat-spinner [diameter]="30"></mat-spinner>
          } @else {
            @if (isQuestionAnswered(question.id)) {
              <p>Вы ответили {{ isAnswerCorrect(question.id) ? 'правильно' : 'неправильно' }} на этот вопрос</p>
              @if (question.answers && question.answers.length > 0) {
                @switch (question.answerType) {
                  @case (AnswerType.Single) {
                    <mat-radio-group [disabled]="true">
                      @for (answer of question.answers; track answer) {
                        <label>
                          <mat-radio-button
                            [value]="answer.id"
                            [checked]="isAnswerSelected(answer.id, question.id)"
                            [ngClass]="{
                              'correct-answer': answer.isCorrect,
                              'incorrect-answer': isAnswerSelected(answer.id, question.id) && !answer.isCorrect
                            }">
                            {{ answer.text }}
                          </mat-radio-button>
                        </label>
                        <br>
                      }
                    </mat-radio-group>
                  }
                  @case (AnswerType.Multiple) {
                    @for (answer of question.answers; track answer) {
                      <label>
                        <mat-checkbox
                          [disabled]="true"
                          [value]="answer.id.toString()"
                          [checked]="isAnswerSelected(answer.id, question.id)"
                          [ngClass]="{
                            'correct-answer': answer.isCorrect,
                            'incorrect-answer': isAnswerSelected(answer.id, question.id) && !answer.isCorrect
                          }">
                          {{ answer.text }}
                        </mat-checkbox>
                      </label>
                      <br>
                    }
                  }
                }
              }
            } @else {
              @if (question.answers && question.answers.length > 0) {
                @switch (question.answerType) {
                  @case (AnswerType.Single) {
                    <mat-radio-group>
                      @for (answer of question.answers; track answer) {
                        <label>
                          <mat-radio-button
                            [value]="answer.id"
                            (change)="selectAnswer(answer.id, question.id, $event.source.checked)">
                            {{ answer.text }}
                          </mat-radio-button>
                        </label>
                        <br>
                      }
                    </mat-radio-group>
                  }
                  @case (AnswerType.Multiple) {
                    @for (answer of question.answers; track answer) {
                      <label>
                        <mat-checkbox
                          [value]="answer.id.toString()"
                          (change)="selectAnswer(answer.id, question.id, $event.checked)">
                          {{ answer.text }}
                        </mat-checkbox>
                      </label>
                      <br>
                    }
                  }
                }
              } @else {
                <p>Ответы отсутствуют.</p>
              }
            }
          }
        </mat-card-content>
      </mat-card>
    } @empty {
      <p>Вопросы отсутствуют.</p>
    }
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="submitAnswers()"
      [disabled]="isTestEnded">
      {{ isTestEnded ? 'Вы ответили на все вопросы' : 'Отправить' }}
    </button>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
