.container {
  display: flex;
  padding: 4px * 5;
  align-items: center;
  flex-direction: column;

  @media (max-width: 767px) {
    padding: 4px * 3;
  }

  .question-card {
    width: 100%;
    padding: 4px * 5;
    margin: 4px * 3 0;
    max-width: 4px * 150;
    border-radius: 4px * 2;
    // background-color: #292929;
    transition: transform 0.3s;
    // box-shadow: 0 4px * 0.5 4px * 2 rgba(0, 0, 0, 0.5);

    &.correct {
      // border-left: 4px solid #4caf50; // Зелёная рамка для правильных ответов
    }

    &.incorrect {
      // border-left: 4px solid #f44336; // Красная рамка для неправильных ответов
    }

    mat-card-header {
      margin-bottom: 4px * 4;

      mat-card-title {
        // color: white;
        font-size: 24px;
      }
    }

    mat-card-content {
      margin-top: 4px * 3;

      mat-radio-group {
        margin-top: 4px * 2;

        mat-radio-button {
          display: block;
          // color: white;
          padding: 4px * 2;
          border-radius: 4px;
          // background-color: #3a3a3a;
          transition: background-color 0.2s;

          &:hover {
            background-color: #444;
          }

          &.correct-answer {
            // color: white;
            // background-color: #4caf50; // Зелёный фон для правильных ответов
          }

          &.incorrect-answer {
            // color: white;
            // background-color: #f44336; // Красный фон для неправильных ответов
          }
        }
      }

      mat-checkbox {
        display: block;
        // color: white;
        padding: 4px * 2;
        border-radius: 4px * 2;
        // background-color: #3a3a3a;
        transition: background-color 0.2s;

        &:hover {
          // background-color: #444;
        }

        &.correct-answer {
          // color: white;
          // background-color: #4caf50; // Зелёный фон для правильных ответов
        }

        &.incorrect-answer {
          // color: white;
          // background-color: #f44336; // Красный фон для неправильных ответов
        }
      }
    }
  }

  p {
    // color: #a0a0a0;
    font-style: italic;
  }
}
