@import url(../../styles/vars.less);

.theme-grid {
  gap: 1rem;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

  button {
    display: flex;
    padding: 1rem;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    background: transparent;
    border-radius: @step * 2;
    border: @step * 0.25 solid var(--mat-sys-outline);

    .theme-preview {
      width: 100%;
      height: @step * 15;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
