<div class="not-found-container">
  <div class="not-found-content">
    <img src="assets/icons/sock.avif" alt="404 Not Found" class="not-found-image" noDownloading>
    <div class="not-found-info">
      <h1 class="not-found-title">
        Мы нашли носок.
      </h1>
      <p class="not-found-description">
        Но страницы, которую вы ищете, у нас нет.
      </p>
      <a mat-button color="primary" routerLink="/" class="not-found-button">
        Вернуться на главную
      </a>
    </div>
  </div>
</div>
