<div class="not-found-container">
  <div class="not-found-content">
    <img src="/images/space.jpg" alt="404 Not Found" class="not-found-image" noDownloading>
    <div class="not-found-info">
      <h1 class="not-found-title">Страница не найдена</h1>
      <p class="not-found-description">
        Похоже, вы заблудились в просторах интернета. Давайте вернемся на главную страницу.
      </p>
      <a mat-raised-button color="primary" routerLink="/" class="not-found-button">
        Вернуться на главную
      </a>
    </div>
  </div>
</div>
