<mat-card appearance="outlined" class="md-container">
  <a [class.full-width]="isMediumScreen" class="nav-btn" mat-button routerLink="/manuals">
    Назад
  </a>

  <h1>Политика конфиденциальности Learnst</h1>
  <p><em>Последнее обновление: 16.03.2025</em></p>

  <section class="document">
    <h2>Содержание</h2>
    <ul>
      <li><a href="manuals/privacypolicy#data-collection">1. Какие данные мы собираем</a></li>
      <li><a href="manuals/privacypolicy#data-usage">2. Как мы используем данные</a></li>
      <li><a href="manuals/privacypolicy#data-storage">3. Как мы храним данные</a></li>
      <li><a href="manuals/privacypolicy#data-protection">4. Защита данных</a></li>
      <li><a href="manuals/privacypolicy#your-rights">5. Ваши права</a></li>
      <li><a href="manuals/privacypolicy#cookies">6. Использование cookies</a></li>
      <li><a href="manuals/privacypolicy#jwt-token">7. Использование JWT-токенов</a></li>
      <li><a href="manuals/privacypolicy#changes">8. Изменения в политике</a></li>
    </ul>
  </section>

  <section id="data-collection">
    <h2>1. Какие данные мы собираем</h2>
    <p>Для обеспечения работы сервиса мы собираем минимально необходимые данные:</p>
    <ul>
      <li><strong>Основные данные:</strong>
        <ul>
          <li>Электронная почта (обязательно)</li>
          <li>Фамилия, Имя (для получения сертификатов)</li>
          <li>Уникальный идентификатор пользователя (GUID)</li>
        </ul>
      </li>
      <li><strong>Технические данные:</strong>
        <ul>
          <li>Данные cookie</li>
          <li>Вид устройства (телефон или компьютер)</li>
        </ul>
      </li>
    </ul>
  </section>

  <section id="data-usage">
    <h2>2. Как мы используем данные</h2>
    <div class="highlight">
      <p>Мы используем данные исключительно для:</p>
      <ul>
        <li>Создания и управления вашим аккаунтом</li>
        <li>Формирования персональных сертификатов об обучении</li>
        <li>Обеспечения безопасности аккаунта</li>
        <li>Анализа использования платформы (в обезличенной форме)</li>
      </ul>
    </div>
  </section>

  <section id="data-storage">
    <h2>3. Как мы храним данные</h2>
    <p>Все собранные данные хранятся в защищённой базе данных с использованием современных методов шифрования.</p>
    <p>Определённые данные также могут временно храниться на клиентской стороне:</p>
    <ul>
      <li><strong>JWT-токены:</strong> После авторизации система генерирует JWT-токен, который содержит ограниченный
        набор данных о пользователе (а именно уникальный идентификатор пользователя, имя и роль). Этот токен используется для аутентификации
        при каждом запросе к серверу.
      </li>
      <li><strong>Cookies:</strong> Мы используем cookies для сохранения настроек пользователя.</li>
    </ul>
    <p>Важно отметить, что JWT-токен подписывается секретным ключом и имеет неограниченное время действия. Очистка кэша
      браузера стирает сохраненный токен.</p>
  </section>

  <section id="data-protection">
    <h2>4. Защита данных</h2>
    <p>Мы применяем многоуровневую систему защиты:</p>
    <ul>
      <li>SSL-шифрование всех соединений между клиентом и сервером</li>
      <li>Хранение паролей в хеш-формате с использованием алгоритма bcrypt</li>
      <li>Регулярные аудиты безопасности</li>
      <li>Ограниченный доступ к данным только для авторизованных пользователей</li>
      <li>Использование JWT-токенов для аутентификации, которые подписываются секретным ключом и содержат ограниченный
        набор данных о пользователе
      </li>
    </ul>
  </section>

  <section id="your-rights">
    <h2>5. Ваши права</h2>
    <p>Вы имеете право:</p>
    <ul>
      <li>Свободно регистрироваться на платформе с помощью почты или аккаунтов социальных сетей (почта должна быть
        уникальной)
      </li>
      <li>Проходить активности, которые помечены специалистами как "Открытые" (закрытые активности вы попросту не
        увидите)
      </li>
      <li><a mat-button routerLink="/support">Обращаться за помощью в поддержку</a></li>
      <li>Изменять данные своего аккаунта через <a mat-button routerLink="/me">личный кабинет</a></li>
      <li>Совершить частичную копию своих данных через <a mat-button routerLink="/me">личный кабинет</a></li>
      <li>Удалить свой аккаунт и все связанные с ним данные</li>
    </ul>
  </section>

  <section id="cookies">
    <h2>6. Использование cookies</h2>
    <p>Мы используем cookies для:</p>
    <ul>
      <li>Сохранения настроек пользователя</li>
    </ul>
    <p>Вы можете отключить cookies в настройках браузера, но это может повлиять на функциональность большинства
      сервисов.</p>
  </section>

  <section id="jwt-token">
    <h2>7. Использование JWT-токенов</h2>
    <p>При авторизации система генерирует JWT-токен, который содержит следующие данные:</p>
    <ul>
      <li><strong>OpenID:</strong> Уникальный идентификатор пользователя (GUID).</li>
      <li><strong>Name:</strong> Ваше имя пользователя.</li>
      <li><strong>Role:</strong> Роль пользователя.</li>
    </ul>
    <p>JWT-токен подписывается секретным ключом и не имеет ограничения по сроку действия.</p>
    <p>Мы не храним чувствительные данные (например, почту) в JWT-токенах. Все данные внутри токена защищены цифровой
      подписью, что гарантирует их целостность и защиту от подделки.</p>
  </section>

  <section id="changes">
    <h2>8. Изменения в политике</h2>
    <p>Все изменения политики будут публиковаться на этой странице. При существенных изменениях мы уведомим вас по
      email.</p>
  </section>

  <footer class="footer">
    <p>© 2025 TCorporation. Все права защищены.</p>
    <p>Юрисдикция: Российская Федерация</p>
  </footer>
</mat-card>
