.contacts-container {
  width: 600px;
  margin: 2rem auto;

  .contact-card {
    padding: 2rem;
    border-radius: 8px;
    background: var(--mat-sys-secondary-container);

    .contact-item {
      display: flex;
      margin: 1rem 0;
      .label {
        width: 120px;
        font-weight: 500;
      }
    }
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
