.users-container {
  gap: 20px;
  display: grid;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  mat-card {
    width: 100%;

    .user-card {
      display: flex;
      padding: 12px;
      cursor: pointer;
      position: relative;
      align-items: center;
      border-radius: 20px;
      // border: 4px * 0.25 solid @border-color;
      transition: background-color 0.3s, transform 0.3s;

      .avatar {
        width: 96px;
        aspect-ratio: 1;
        object-fit: cover;
        margin-right: 12px;
        border-radius: 50%;
        transition: border-color 0.3s;
        // border: 4px * 0.5 solid @primary-color;

        @media (max-width: 500px) {
          width: 96px * 0.5;
        }
      }

      .user-info {
        flex: 1;
        display: flex;
        align-items: center;
        padding-right: 48px;

        p {
          margin: 0;
          display: flex;
          gap: 4px * 1.5; // Отступ между текстом и иконкой
          font-size: 18px;
          align-items: center;

          .role-icon {
            width: 18px;
            height: 18px;
            font-size: 18px; // Размер иконки
          }
        }
      }

      .more-button {
        top: 8px;
        right: 8px;
        position: absolute;
      }

      @media (max-width: 767px) {
        gap: 16px;

        h3,
        p {
          font-size: 24px;
        }
      }
    }
  }
}
