.users-container {
  display: grid;
  gap: 4px * 5;
  margin-top: 4px * 5;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  mat-card {
    width: 100%;

    .user-card {
      display: flex;
      cursor: pointer;
      padding: 4px * 3;
      position: relative;
      align-items: center;
      border-radius: 4px * 5;
      // border: 4px * 0.25 solid @border-color;
      transition: background-color 0.3s, transform 0.3s;

      .avatar {
        border-radius: 50%;
        width: 96px;
        aspect-ratio: 1 / 1;
        margin-right: 4px * 3;
        // border: 4px * 0.5 solid @primary-color;
        transition: border-color 0.3s;

        @media (max-width: 500px) {
          width: 96px * 0.5;
        }
      }

      .user-info {
        flex: 1;
        display: flex;
        align-items: center;

        p {
          margin: 0;
          display: flex;
          gap: 4px * 1.5; // Отступ между текстом и иконкой
          // color: @text-color;
          align-items: center;
          font-size: 18px;

          .role-icon {
            width: 18px;
            height: 18px;
            font-size: 18px; // Размер иконки
          }

          .backup-icon {
            // color: @online;
          }

          .specialist-icon {
            // color: #eff7f6;
          }

          .admin-icon {
            // color: #f7ee7f;
          }
        }
      }

      .more-button {
        top: 4px * 2;
        right: 4px * 2;
        position: absolute;
      }

      &:hover {
        // background-color: @card-hover-color;

        .avatar {
          // border-color: @secondary-color;
        }
      }

      &:active {
        // background-color: @card-active-color;
      }

      @media (max-width: 767px) {
        gap: 4px * 4;

        h3,
        p {
          font-size: 24px;
        }
      }
    }
  }
}
