<div class="not-found-container">
  <div class="not-found-content">
    <img alt="404 Not Found" class="not-found-image" noDownloading src="assets/icons/sock.avif">
    <div class="not-found-info">
      <h1 class="not-found-title">
        Мы нашли носок.
      </h1>
      <p class="not-found-description">
        Но страницы, которую вы ищете, у нас нет.
      </p>
      <a class="not-found-button" mat-stroked-button routerLink="/">
        Вернуться на главную
      </a>
    </div>
  </div>
</div>
