.ticket-list {
  display: flex;
  gap: 4px * 4;
  flex-direction: column;

  mat-card {
    overflow: hidden;
    padding: 8px;
    position: relative;
    border-radius: 4px * 5;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: url('https://learnst.runasp.net/assets/cursors/oneshot/15-link-select.gif') 16 16, pointer !important;

    &:hover {
      transform: translateY(-4px);
      box-shadow: var(--mat-sys-level2);
    }

    mat-card-title {
      font-size: 1.5em;
      font-weight: bold;
      padding: 8px 8px 0 8px;
    }

    mat-card-content {
      padding: 8px;

      p {
        margin: 0;
        line-height: 1.6;
        // color: @text-secondary;
      }

      .ticket-info {
        display: flex;
        align-items: center;
        margin-top: 8px;
        justify-content: space-between;

        .author-info {
          gap: 4px;
          display: flex;
          align-items: center;

          .avatar {
            width: 4px * 10;
            object-fit: cover;
            height: 4px * 10;
            border-radius: 50%;
            transition: transform 0.3s;
            // border: 4px * 0.5 solid @primary-color;

            &:hover {
              transform: scale(1.1);
            }
          }

          span {
            font-weight: 500;
            // color: @text-primary;
          }
        }

        .status {
          // color: white;
          font-weight: bold;
          padding: 4px 8px;
          border-radius: 4px * 5;
          text-transform: uppercase;
          font-size: 18px;
          // box-shadow: 0 4px * 0.5 8px rgba(0, 0, 0, 0.1);
        }
      }

      .created-at {
        opacity: 0.8;
        margin-top: 8px;
        // color: @text-secondary;
        font-size: 18px;
      }
    }

    &::before {
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      content: '';
      height: 4px;
      position: absolute;
      transition: opacity 0.3s;
      // background: linear-gradient(90deg, @primary-color, darken(@primary-color, 10%));
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

.empty-state {
  font-size: 1.2em;
  text-align: center;
  margin-top: 4px * 4;
  // color: @text-secondary;
}
