mat-card {
  // color: white;
  padding: 4px * 4;
  // background: #2a2a2a;
  border-radius: 4px * 3;
  // box-shadow: 0 4px 4px * 3 rgba(0, 0, 0, 0.2);

  @media (max-width: 767px) {
    padding: 4px * 2;
  }
}

mat-card-title {
  display: flex;
  gap: 4px * 2;
  align-items: center;

  .status-icon {
    display: flex;
    width: 4px * 6;
    height: 4px * 6;
    border-radius: 50%;
  }

  @media (max-width: 767px) {
    gap: 4px;
    flex-direction: column;
    align-items: flex-start;

    .status-icon {
      width: 4px * 4;
      height: 4px * 4;

      mat-icon {
        font-size: 14px;
      }
    }
  }
}

mat-card-content {
  p {
    margin: 4px * 2 0;
    // color: @text-primary;
    font-size: 18px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.ticket-actions {
  display: inline;

  @media (max-width: 767px) {
    margin-bottom: 4px * 2;
  }
}

.status-actions {
  display: flex;
  gap: 4px * 2;

  @media (max-width: 767px) {
    gap: 4px;
  }
}

.ticket-info {
  display: flex;
  align-items: center;
  margin-top: 4px * 2;
  justify-content: space-between;

  @media (max-width: 767px) {
    gap: 4px * 2;
    flex-direction: column;
    align-items: flex-start;
  }

  .author-info {
    gap: 4px;
    display: flex;
    align-items: center;

    .avatar {
      width: 4px * 10;
      object-fit: cover;
      height: 4px * 10;
      border-radius: 50%;
      // border: 4px * 0.5 solid @primary-color;

      @media (max-width: 767px) {
        width: 4px * 8;
        height: 4px * 8;
      }
    }

    span {
      font-weight: 500;
      // color: @text-primary;
    }
  }

  .created-at {
    opacity: 0.8;
    // color: @text-secondary;
    font-size: 18px;

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.answer-info {
  width: 100%;
  display: flex;
  gap: 4px * 2;
  padding: 4px * 2;
  // background: #3a3a3a;
  flex-direction: column;
  border-radius: 4px * 2;
  margin-bottom: 4px * 2;

  @media (max-width: 767px) {
    padding: 4px;
    gap: 4px;
  }

  .author-info {
    display: flex;
    gap: 4px * 2;
    align-items: center;

    @media (max-width: 767px) {
      gap: 4px;
    }

    .avatar {
      width: 4px * 8;
      height: 4px * 8;
      object-fit: cover;
      border-radius: 50%;
      // border: 4px * 0.5 solid @primary-color;

      @media (max-width: 767px) {
        width: 4px * 6;
        height: 4px * 6;
      }
    }

    .author-details {
      flex: 1;
      display: flex;
      gap: 4px * 0.5;
      flex-direction: column;

      .username {
        font-weight: 500;
        // color: @text-primary;
        font-size: 18px;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      .created-at {
        opacity: 0.8;
        // color: @text-secondary;
        font-size: 14px;

        @media (max-width: 767px) {
          font-size: 14px - 2px;
        }
      }
    }

    .role-icon {
      font-size: 18px;

      @media (max-width: 767px) {
        font-size: 14px;
      }

      &.admin-icon {
        // color: #ffd700; // Золотой цвет для администратора
      }

      &.backup-icon {
        // color: @online; // Зелёный цвет для поддержки
      }

      &.specialist-icon {
        // color: #eff7f6; // Синий цвет для специалиста
      }
    }
  }

  .answer-content {
    margin: 0;
    line-height: 1.6;
    // color: @text-primary;
    padding-left: 4px * 10; // Отступ для выравнивания текста под аватаром
    font-size: 18px;

    @media (max-width: 767px) {
      padding-left: 4px * 8;
      font-size: 14px;
    }
  }
}

.empty-state {
  // color: #666;
  padding: 4px * 4;
  font-style: italic;
  text-align: center;

  @media (max-width: 767px) {
    padding: 4px * 2;
  }
}

.status-history {
  display: flex;
  gap: 4px * 2;
  margin-top: 4px * 2;
  flex-direction: column;

  .status-node {
    display: flex;
    gap: 4px * 2;
    position: relative;
    align-items: center;

    @media (max-width: 767px) {
      gap: 4px;
    }

    .status-icon {
      z-index: 1;
      display: flex;
      width: 4px * 10;
      height: 4px * 10;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      // background: @primary-color;

      @media (max-width: 767px) {
        width: 4px * 8;
        height: 4px * 8;
      }

      mat-icon {
        // color: white;
      }
    }

    .status-content {
      flex: 1;
      padding: 4px * 2;
      // background: #3a3a3a;
      border-radius: 4px * 2;
      // box-shadow: 0 4px * 0.5 4px * 2 rgba(0, 0, 0, 0.1);

      @media (max-width: 767px) {
        padding: 4px;
      }

      p {
        margin: 0;
        // color: @text-primary;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }
    }
  }
}
