<!-- twitch.component.html -->
<div class="twitch-panel">
  <div class="video-container">
    <iframe #stream
            [src]="streamUrl"
            allowfullscreen="true"
            frameborder="0"
            loading="lazy"
            referrerpolicy="no-referrer"
            scrolling="no"></iframe>
  </div>
  <div class="chat-container">
    <iframe #chat
            [src]="chatUrl()"
            id="chat_embed"
            loading="lazy"
            referrerpolicy="no-referrer"></iframe>
  </div>
</div>
