// Основные стили для диалогового окна
mat-dialog-content {
  margin: 0 auto;
  padding: 4px * 3;
  max-width: 8px00;

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 4px * 3;
    }

    .question-card {
      padding: 4px * 5;
      margin-bottom: 4px * 3;
      border-radius: 8px;
      // background-color: #181818;
      transition: box-shadow 0.3s ease;
      // border: 4px * 0.25 solid @border-color-dark;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      &:hover {
        // box-shadow: 0 4px * 1.5 4px * 3 rgba(0, 0, 0, 0.2);
      }

      @media (max-width: 767px) {
        padding: 4px * 3;
      }

      .question-content {
        margin-bottom: 8px;

        mat-form-field {
          margin-bottom: 8px;
        }

        .add-answer-button {
          margin-top: 4px;
        }
      }

      .remove-question-button {
        margin-top: 4px;
      }
    }

    .add-question-button {
      margin-top: 8px;
    }
  }
}

// Стили для кнопок в диалоговом окне
mat-dialog-actions {
  display: flex;
  padding: 4px * 3;
  justify-content: flex-end;

  button {
    margin-left: 8px;
  }
}
