<h2 mat-dialog-title>{{ workExperienceForm.value.id ? 'Редактировать опыт работы' : 'Добавить опыт работы' }}</h2>
<mat-dialog-content>
  <form [formGroup]="workExperienceForm">
    <mat-form-field appearance="outline">
      <mat-label>Компания</mat-label>
      <input matInput formControlName="companyName" placeholder="Компания" (keydown.enter)="save()" required>
      @if (workExperienceForm.get('companyName')?.hasError('required')) {
        <mat-error>
          Поле обязательно для заполнения.
        </mat-error>
      }
      @if (workExperienceForm.get('companyName')?.hasError('maxlength')) {
        <mat-error>
          Максимальная длина — 100 символов.
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Должность</mat-label>
      <input matInput formControlName="position" placeholder="Должность" (keydown.enter)="save()" required>
      @if (workExperienceForm.get('position')?.hasError('required')) {
        <mat-error>
          Поле обязательно для заполнения.
        </mat-error>
      }
      @if (workExperienceForm.get('position')?.hasError('maxlength')) {
        <mat-error>
          Максимальная длина — 100 символов.
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Период работы</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate formControlName="startDate" placeholder="Начало" (keydown.enter)="save()" required>
        <input matEndDate formControlName="endDate" placeholder="Конец">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker [touchUi]="isMediumScreen"></mat-date-range-picker>
      @if (workExperienceForm.get('startDate')?.hasError('required')) {
        <mat-error>
          Поле обязательно для заполнения.
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Описание</mat-label>
      <textarea matInput formControlName="description" placeholder="О работе" (keydown.enter)="save()"></textarea>
      @if (workExperienceForm.get('description')?.hasError('maxlength')) {
        <mat-error>
          Максимальная длина — 500 символов.
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button type="button" mat-button (click)="onNoClick()">Закрыть</button>
  <button type="button" mat-button [disabled]="workExperienceForm.invalid" (click)="save()">Сохранить</button>
</mat-dialog-actions>
