<mat-card class="container" appearance="outlined">
  <a mat-button (click)="goBack()" class="mb nav-btn">Назад</a>
  @if (loading) {
    <mat-spinner diameter="40"></mat-spinner>
  } @else if (lesson) {
    @switch (lesson.lessonType) {
      @case (LessonType.LongRead) {
        <div class="md-container" [innerHTML]="innerHTML"></div>
      }
      @case (LessonType.Video) {
        <h1>{{lesson.title}}</h1>
        <media-theme-sutro
          style="--media-secondary-color: var(--mat-sys-secondary-container); --media-accent-color: var(--mat-sys-primary-container);"
        >
          <video
            slot="media"
            playsinline
            crossorigin
            [src]="lesson.videoUrl"
          >
            Ваш браузер не поддерживает видео
          </video>
        </media-theme-sutro>
      }
      @case (LessonType.Test) {
        <h1>{{ lesson.title }}</h1>
        <app-questions [questions]="lesson.questions"></app-questions>
      }
    }
  } @else {
    <div class="error">Урок не найден</div>
  }
</mat-card>
