@if (lesson) {
  <div class="container">
    <a mat-button (click)="goBack()" class="mb">Назад</a>
    <h1>{{lesson!.title}}</h1>
    @if (!loading) {
      @switch (lesson.lessonType) {
        @case (LessonType.LongRead) {
          <div class="md-container" [innerHTML]="innerHTML"></div>
        }
        @case (LessonType.Video) {
          <media-theme-sutro
            style="--media-secondary-color: #616161; --media-accent-color: #007bff;"
          >
            <video
              slot="media"
              playsinline
              crossorigin
              [src]="lesson.videoUrl"
            >
              Ваш браузер не поддерживает видео
            </video>
          </media-theme-sutro>
        }
        @case (LessonType.Test) {
          <h2>{{ lesson.title }}</h2>
          <app-questions [questions]="lesson.questions"></app-questions>
        }
      }
    } @else {
      <mat-spinner></mat-spinner>
    }
  </div>
} @else {
  <div class="danger">Урок не найден</div>
}
