<h2 mat-dialog-title>{{ socialMediaForm.value.id ? 'Редактировать социальную сеть' : 'Добавить социальную сеть' }}</h2>
<mat-dialog-content>
  <form [formGroup]="socialMediaForm">
    <mat-form-field appearance="outline">
      <mat-label>Ссылка</mat-label>
      <input (keydown.enter)="save()" formControlName="url" matInput placeholder="Ссылка на профиль" required
             type="url">
      @if (socialMediaForm.get('url')?.hasError('required')) {
        <mat-error>
          Поле обязательно для заполнения.
        </mat-error>
      }
      @if (socialMediaForm.get('url')?.hasError('maxlength')) {
        <mat-error>
          Максимальная длина — 2048 символов.
        </mat-error>
      }
      @if (socialMediaForm.get('url')?.hasError('invalidUrl')) {
        <mat-error>
          Введите корректную ссылку.
        </mat-error>
      }
      @if (socialMediaForm.get('url')?.hasError('unsupportedPlatform')) {
        <mat-error>
          Ссылка должна вести на поддерживаемую социальную сеть.
        </mat-error>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="onNoClick()" mat-button type="button">Закрыть</button>
  <button (click)="save()" [disabled]="socialMediaForm.invalid" mat-button type="button">Сохранить</button>
</mat-dialog-actions>
