<div class="container">
  <a mat-button color="primary" (click)="goBack()">Назад</a>
  <a mat-button color="primary" routerLink="/dev/apps/create">Создать</a>

  <div class="mt apps-container">
    @for (app of apps; track app) {
      <mat-card [routerLink]="['/app', app.clientId]">
        <mat-card-content class="app-card">
          <!-- <img [src]="app.avatarUrl" alt="Avatar" class="avatar" placeholder="/images/app.png" noDownloading> -->
          <div class="app-info">
            <p>{{ app.name }}</p>
          </div>
          <button type="button" class="more-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button type="button" mat-menu-item (click)="deleteApp(app.clientId)" class="delete">Удалить</button>
          </mat-menu>
        </mat-card-content>
      </mat-card>
    } @empty {
      <div class="m">
        @if (loading) {
          <mat-spinner></mat-spinner>
        } @else {
          <span>Пусто</span>
        }
      </div>
    }
  </div>
</div>
