.legal-container {
  width: 800px;
  padding: 2rem;
  margin: 2rem auto;
  box-shadow: var(--mat-sys-level2);
  background: var(--mat-sys-secondary-container);

  section {
    padding: 1rem;
    margin: 2rem 0;
    border-left: 3px solid var(--mat-sys-primary);
  }

  .signature {
    margin-top: 3rem;
    text-align: right;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}
