.loading-container {
  display: flex;
  padding: 40px;
  justify-content: center;

  mat-spinner {
    margin: 0 auto;
  }
}

.error.static {
  padding: 40px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--mat-sys-error);
}
