<mat-card class="form-container">
  <mat-card-header class="center-control">
    <mat-card-title><h2>Авторизация</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Форма авторизации -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Имя пользователя</mat-label>
        <input matInput id="username" autocomplete="username" formControlName="username" maxlength="100" placeholder="Введите имя пользователя или email">
        @if (form.get('username')?.invalid && form.get('username')?.touched) {
          <mat-error>Пожалуйста, введите имя пользователя.</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          id="password"
          maxlength="50"
          formControlName="password"
          placeholder="Введите пароль"
          autocomplete="current-password"
          [type]="hidePassword ? 'password' : 'text'"
        >
        <!-- Иконка "глазика" -->
        <button
          matSuffix
          type="button"
          mat-icon-button
          class="input-button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="hidePassword ? 'Показать пароль' : 'Скрыть пароль'"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (form.get('password')?.invalid && form.get('password')?.touched) {
          <mat-error>Пожалуйста, введите пароль.</mat-error>
        }
      </mat-form-field>
      <button mat-flat-button [disabled]="form.invalid || loading" class="full-width" color="primary" type="submit">
        @if (loading) {
          <mat-spinner diameter="20"></mat-spinner>
        } @else {
          Войти
        }
      </button>
    </form>

    <!-- Разделитель с подписью -->
    <div class="separator">
      <span class="or-text">Или войти с</span>
    </div>

    <!-- Грид с социальными сетями -->
    <div class="social-grid">
      <a
        mat-raised-button
        matTooltipPosition="below"
        matTooltip="Войти с Google"
        class="social-btn google-btn"
        href="https://api-learnst.runasp.net/oauth2/google/init"
      >
        <img src="assets/icons/socials/google.png" alt="Google" class="social-icon" noDownloading>
      </a>

      <a
        mat-raised-button
        matTooltipPosition="below"
        matTooltip="Войти с Яндекс"
        class="social-btn yandex-btn"
        href="https://api-learnst.runasp.net/oauth2/yandex/init"
      >
        <img src="assets/icons/socials/yandex.png" alt="Yandex" class="social-icon" noDownloading>
      </a>

      <!-- <a
        mat-raised-button
        matTooltipPosition="below"
        matTooltip="Войти с Microsoft"
        class="social-btn microsoft-btn"
        href="https://api-learnst.runasp.net/oauth2/microsoft/init"
      >
        <img src="assets/icons/socials/microsoft.png" alt="Microsoft" class="social-icon">
      </a> -->

      <a
        mat-raised-button
        class="social-btn vk-btn"
        matTooltipPosition="below"
        matTooltip="Войти через ВКонтакте"
        href="https://api-learnst.runasp.net/oauth2/vk/init"
      >
        <img src="assets/icons/socials/vk.png" alt="VK" class="social-icon" noDownloading>
      </a>

      <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn mailru-btn"
        matTooltip="Войти через Mail.ru"
        href="https://api-learnst.runasp.net/oauth2/mailru/init"
      >
        <img src="assets/icons/socials/mail-ru.png" alt="mail.ru" class="social-icon" noDownloading>
      </a>

      <!-- <a
        mat-raised-button
        class="social-btn ok-btn"
        href="https://api-learnst.runasp.net/oauth2/ok/init"
        matTooltip="Войти через Одноклассники"
      >
        <img src="assets/icons/socials/ok.png" alt="Одноклассники" class="social-icon">
      </a> -->

      <!-- <a
        mat-raised-button
        class="social-btn apple-btn"
        matTooltip="Войти через Apple"
        href="https://api-learnst.runasp.net/oauth2/apple/init"
      >
        <img src="assets/icons/socials/apple.png" alt="Apple">
      </a> -->

      <!-- <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn telegram-btn"
        matTooltip="Войти через Telegram"
        href="https://api-learnst.runasp.net/oauth2/telegram/init"
      >
        <img src="assets/icons/socials/telegram.png" alt="Telegram" class="social-icon">
      </a> -->

      <a
        mat-raised-button
        matTooltipPosition="below"
        matTooltip="Войти через Github"
        class="social-btn github-btn"
        href="https://api-learnst.runasp.net/oauth2/github/init"
      >
        <img src="assets/icons/socials/github.png" alt="GitHub" class="social-icon" noDownloading>
      </a>

      <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn discord-btn"
        matTooltip="Войти через Discord"
        href="https://api-learnst.runasp.net/oauth2/discord/init"
      >
        <img src="assets/icons/socials/discord.png" alt="Discord" class="social-icon" noDownloading>
      </a>

      <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn steam-btn"
        matTooltip="Войти через Steam"
        href="https://api-learnst.runasp.net/oauth2/steam/init"
      >
        <img src="assets/icons/socials/steam.png" alt="Steam" class="social-icon" noDownloading>
      </a>

      <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn twitch-btn"
        matTooltip="Войти через Twitch"
        href="https://api-learnst.runasp.net/oauth2/twitch/init"
      >
        <img src="assets/icons/socials/twitch.png" alt="Twitch" class="social-icon" noDownloading>
      </a>

      <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn epicgames-btn"
        matTooltip="Войти через Epic Games"
        href="https://api-learnst.runasp.net/oauth2/epicgames/init"
      >
        <img src="assets/icons/socials/epic-games.png" alt="Epic Games" class="social-icon" noDownloading>
      </a>

      <!-- <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn facebook-btn"
        matTooltip="Войти через Facebook"
        href="https://api-learnst.runasp.net/oauth2/facebook/init"
      >
        <img src="assets/icons/socials/facebook.png" alt="Facebook" class="social-icon" noDownloading>
      </a> -->

      <a
        mat-raised-button
        matTooltipPosition="below"
        class="social-btn tiktok-btn"
        matTooltip="Войти через TikTok"
        href="https://api-learnst.runasp.net/oauth2/tiktok/init"
      >
        <img src="assets/icons/socials/tiktok.png" alt="Tik Tok" class="social-icon" noDownloading>
      </a>
    </div>
  </mat-card-content>
  <mat-card-actions class="center-control form-actions">
    <a mat-raised-button routerLink="/register">Создать учетную запись</a>
    <a mat-button routerLink="/privacypolicy">Политика конфиденциальности</a>
    <a mat-button routerLink="/termsofuse">Условия использования</a>
  </mat-card-actions>
</mat-card>
