.profile-container {
  .avatar {
    cursor: pointer;
  }

  // Обёртка для кнопки с блюром
  .save-button-wrapper {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 24px 0;
    position: sticky;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  .save-button {
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 4px * 3 4px * 6;
    color: var(--mat-sys-on-primary);
    box-shadow: var(--mat-sys-level2);
    transition: background-color 0.3s ease;
    background-color: var(--mat-sys-primary);

    @media (max-width: 767px) {
      padding: 4px * 4 4px * 8;
    }
  }

  .delete-profile-wrapper {
    text-align: center;
    margin-top: 4px * 4;

    button {
      margin-bottom: 4px;
      // color: var(--mat-sys-on-error);
      box-shadow: var(--mat-sys-level2);
      // background-color: var(--mat-sys-error);
    }

    .warning-text {
      font-size: 0.9em;
      // color: @not-found-error;
    }
  }
}

.avatar-container {
  position: relative;

  .external-icon {
    right: 8px;
    bottom: 8px;
    position: absolute;
  }
}

.clear-date-btn {
  top: 8px;
  right: 0;
  position: absolute;
}

.social-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
