.profile-container {
  .avatar {
    object-fit: cover;
    cursor: var(--cursor-pointer) !important;
  }

  // Обёртка для кнопки с блюром
  .save-button-wrapper {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 24px 0;
    position: sticky;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  .save-button {
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 4px * 3 4px * 6;
    box-shadow: var(--mat-sys-level2);
    transition: background-color 0.3s ease;

    @media (max-width: 767px) {
      padding: 16px 32px;
    }
  }

  .delete-profile-wrapper {
    margin-top: 16px;
    text-align: center;
  }
}

.avatar-container {
  position: relative;

  .external-icon {
    right: 8px;
    bottom: 8px;
    position: absolute;
  }
}

.clear-date-btn {
  top: 8px;
  right: 0;
  position: absolute;
}

.social-icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.import-export-buttons {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;

  button {
    flex: 1 1 auto;
    min-width: 200px;
  }
}

.cursor-toggle-section {
  gap: 12px;
  display: flex;
  padding: 16px;
  align-items: center;
  border-top: 1px solid var(--mat-sys-outline-variant);

  .hint-icon {
    color: var(--mat-sys-primary);
  }
}
