<div class="profile-container">
  <a mat-button color="primary" (click)="goBack()">Назад</a>
  <h1>Управление профилем</h1>

  @if (!user) {
    <mat-spinner></mat-spinner>
  } @else {
    <div class="profile-grid">
      <!-- Личные данные -->
      <mat-card class="full-width">
        <h3>Личные данные</h3>
        <div class="avatar-container">
          <input type="file" id="avatarInput" (change)="onFileSelected($event)" class="hidden" accept="image/*">
          <img [src]="user.avatarUrl" alt="{{ user.username }}" class="avatar" (click)="openFilePicker()"
            placeholder="/images/user.png" matTooltip="Изменить аватар" matTooltipPosition="below">
        </div>
        <div class="user-info">
          <mat-form-field appearance="outline">
            <mat-label>ФИО</mat-label>
            <input matInput id="fullname" [(ngModel)]="user.fullName" placeholder="Иванов Иван Иванович" maxlength="48"
              (input)="onUserInfoChange()">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Имя пользователя</mat-label>
            <input matInput id="username" [(ngModel)]="user.username" placeholder="Имя пользователя" maxlength="20"
              minlength="3" (input)="onUserInfoChange()" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Дата рождения</mat-label>
            <input matInput id="date" [(ngModel)]="user.dateOfBirth" placeholder="Выберите день рождения" readonly
              required (dateChange)="onUserInfoChange()" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [touchUi]="isMediumScreen"></mat-datepicker>
            <mat-hint>dd.mm.yyyy</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Телефон</mat-label>
            <input matInput id="tel" type="tel" [(ngModel)]="user.phone" placeholder="Телефон" required maxlength="11"
              (input)="onUserInfoChange()">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Электронная почта</mat-label>
            <input matInput id="email" type="email" [(ngModel)]="user.emailAddress" placeholder="Электронная почта"
              required maxlength="255" (input)="onUserInfoChange()">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Город</mat-label>
            <input matInput id="city" type="text" [(ngModel)]="user.city" placeholder="Город" maxlength="50"
              (input)="onUserInfoChange()">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Резюме</mat-label>
            <textarea matInput id="resume" [(ngModel)]="user.resumeText" maxlength="500"
              placeholder="Введите ваше резюме" rows="4" (input)="onUserInfoChange()"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Обо мне</mat-label>
            <textarea matInput id="aboutMe" [(ngModel)]="user.aboutMe" maxlength="500" placeholder="Расскажите о себе"
              rows="4" (input)="onUserInfoChange()"></textarea>
          </mat-form-field>
        </div>
      </mat-card>

      <!-- Изменить пароль -->
      <mat-card class="full-height">
        <h3>Изменить пароль</h3>
        <mat-form-field appearance="outline">
          <mat-label>Старый пароль</mat-label>
          <input
            matInput
            maxlength="50"
            autocomplete="off"
            [(ngModel)]="oldPassword"
            placeholder="Введите старый пароль"
            [type]="hidePassword ? 'password' : 'text'"
          >
          <!-- Иконка "глазика" -->
          <button
            matSuffix
            type="button"
            mat-icon-button
            class="input-button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="hidePassword ? 'Показать пароль' : 'Скрыть пароль'"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Новый пароль</mat-label>
          <input
            matInput
            maxlength="50"
            autocomplete="off"
            [(ngModel)]="newPassword"
            placeholder="Введите новый пароль"
            [type]="hidePassword ? 'password' : 'text'"
          >
          <!-- Иконка "глазика" -->
          <button
            matSuffix
            type="button"
            mat-icon-button
            class="input-button"
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="hidePassword ? 'Показать пароль' : 'Скрыть пароль'"
          >
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" class="full-width" (click)="changePassword()">
          @if (passwordChanging) {
            <mat-spinner diameter="20"></mat-spinner>
          } @else {
            Сохранить изменения
          }
        </button>
      </mat-card>

      <!-- Социальные сети -->
      <mat-card class="full-height">
        <h3>Социальные сети</h3>
        <button type="button" mat-raised-button color="primary" (click)="openSocialMediaModal()">
          Добавить профиль
        </button>
        <div class="cards">
          @for (socialMediaProfile of user.socialMediaProfiles; track socialMediaProfile) {
          <div class="social-card">
            <a [href]="socialMediaProfile.url" target="_blank">
              <img [src]="SocialMediaPlatformHelper.getImagePath(socialMediaProfile.platform)" alt=""
                [title]="socialMediaProfile.url" noDownloading>
              <div>{{ SocialMediaPlatformHelper.getName(socialMediaProfile.platform) }}</div>
            </a>
            <button type="button" class="more-button" mat-icon-button [matMenuTriggerFor]="socialMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #socialMenu="matMenu">
              <button type="button" mat-menu-item (click)="openSocialMediaModal(socialMediaProfile)">Изменить</button>
              <button type="button" mat-menu-item (click)="deleteSocialMedia(socialMediaProfile)">Удалить</button>
            </mat-menu>
          </div>
          }
        </div>
      </mat-card>

      <!-- Образование -->
      <mat-card class="full-height">
        <h3>Образование</h3>
        <button type="button" mat-raised-button color="primary" (click)="openEducationModal()">
          Добавить образование
        </button>
        <div class="cards">
          @for (education of user.educations; track education) {
          <div class="education-item">
            <div><strong>Вуз:</strong> {{ education.institutionName }}</div>
            <div><strong>Факультет:</strong> {{ education.degree }}</div>
            <div><strong>Год выпуска:</strong> {{ education.graduationYear }}</div>
            <button type="button" class="more-button" mat-icon-button [matMenuTriggerFor]="educationMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #educationMenu="matMenu">
              <button type="button" mat-menu-item (click)="openEducationModal(education)">Изменить</button>
              <button type="button" mat-menu-item (click)="deleteEducation(education)">Удалить</button>
            </mat-menu>
          </div>
          }
        </div>
      </mat-card>

      <!-- Опыт работы -->
      <mat-card class="full-height">
        <h3>Опыт работы</h3>
        <button type="button" mat-raised-button color="primary" (click)="openWorkExperienceModal()">
          Добавить опыт работы
        </button>
        <div class="cards">
          @for (job of user.workExperiences; track job) {
          <div class="work-item">
            <div><strong>Компания:</strong> {{ job.companyName }}</div>
            <div><strong>Должность:</strong> {{ job.position }}</div>
            <div><strong>Период работы:</strong> {{ job.startDate | dateRange: job.endDate }}</div>
            <div><strong>Описание:</strong> {{ job.description || 'Отсутствует' }}</div>
            <button type="button" class="more-button" mat-icon-button [matMenuTriggerFor]="workMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #workMenu="matMenu">
              <button type="button" mat-menu-item (click)="openWorkExperienceModal(job)">Изменить</button>
              <button type="button" mat-menu-item (click)="deleteWorkExperience(job)">Удалить</button>
            </mat-menu>
          </div>
          }
        </div>
      </mat-card>

      <!-- Кнопка "Удалить профиль" -->
      <mat-card class="full-width">
        <div class="delete-profile-wrapper">
          <button type="button" mat-raised-button color="warn" (click)="deleteProfile()">
            Удалить мой профиль
          </button>
          <p class="warning-text">Внимание: это действие необратимо. Все ваши данные будут удалены.</p>
        </div>
      </mat-card>
    </div>

    @if (unsavedChanges) {
    <div class="save-button-wrapper">
      <button type="button" mat-raised-button color="primary" class="save-button" (click)="saveChanges()">
        @if (changesSaving) {
          <mat-spinner color="white" diameter="20"></mat-spinner>
        } @else {
          Сохранить изменения
        }
      </button>
    </div>
    }
  }
</div>
