.profile-container {
  .avatar {
    cursor: pointer;
  }

  // Обёртка для кнопки с блюром
  .save-button-wrapper {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    position: fixed;
    padding: 4px * 6 4px * 4;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

  .save-button {
    width: 100%;
    border: none;
    cursor: pointer;
    // color: @text-high-emphasis;
    // background-color: #005cf4;
    font-size: 18px;
    padding: 4px * 3 4px * 6;
    transition: background-color 0.3s ease;
    // box-shadow: 0 4px * 0.5 4px rgba(0, 0, 0, 0.2);

    &:hover {
      // background-color: darken(#005cf4, 10%);
    }

    @media (max-width: 767px) {
      padding: 4px * 4 4px * 8;
    }
  }

  .delete-profile-wrapper {
    text-align: center;
    margin-top: 4px * 4;

    button {
      margin-bottom: 4px;
    }

    .warning-text {
      font-size: 0.9em;
      // color: @not-found-error;
    }
  }
}

.avatar-container {
  position: relative;

  .external-icon {
    right: 8px;
    bottom: 8px;
    position: absolute;
  }
}

.clear-date-btn {
  top: 8px;
  right: 0;
  position: absolute;
}
