.activity-form-container {
  width: 100%;
  padding: 4px * 5;
  max-width: 4px * 200;
  margin: 4px * 5 auto;
  border-radius: 4px * 5;
  // background-color: @background-color-dark;

  @media (max-width: 767px) {
    margin: 0;
    max-width: 100%;
    border-radius: 0;
    padding: 4px * 3;
  }

  .activity-form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 4px * 5;

      .mat-form-field-label {
        // color: @text-color-dark;
      }

      .mat-input-element {
        // color: @text-color-dark;
      }

      .mat-form-field-underline {
        // background-color: @border-color-dark;
      }

      .mat-form-field-ripple {
        // background-color: @primary-color;
      }
    }

    button[type="submit"] {
      align-self: flex-end;
    }

    .topic,
    .info-card {
      position: relative;
      padding: 4px * 2;
      margin-bottom: 4px * 2;
      border-radius: 4px * 2;
      // border: 4px * 0.25 solid @border-color-dark;
      // background-color: @background-color-dark-secondary;

      .topic-content {
        p {
          padding-left: 4px * 3;
        }
      }

      .info-card-content {
        .preview-container {
          display: flex;
          overflow: hidden;
          width: 4px * 40;
          height: 4px * 40;
          align-items: center;
          justify-content: center;
          margin-bottom: 4px * 2;
          border-radius: 4px * 2;
          // background-color: #181818;
          // border: 4px * 0.5 dashed @border-color-dark;

          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 4px * 2;
          }
        }
      }

      .more-button {
        top: 4px * 5 !important;
      }
    }

    .avatar-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 4px * 5;

      .avatar-preview-container {
        display: flex;
        overflow: hidden;
        width: 4px * 40;
        height: 4px * 40;
        align-items: center;
        justify-content: center;
        margin-bottom: 4px * 2;
        border-radius: 4px * 2;
        // border: 4px * 0.5 dashed @border-color-dark;
        // background-color: @background-color-dark-secondary;

        .avatar-preview {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
          border-radius: 4px * 2;
        }
      }

      .choose-preview-button {
        margin-top: 4px * 2;
      }
    }
  }
}
