@use 'sass:map';
@use '@angular/material' as mat;

// Dark theme - пример, вам нужно будет сгенерировать палитры для темного режима, используя другой набор цветов.
// Здесь пример с инвертированными цветами
$_palettes: (
  primary: (
    0: #ffffff,
    10: #e5e3de,
    20: #d1cec8,
    25: #c3c0ba,
    30: #b4b1ab,
    35: #a7a4a0,
    40: #999792,
    50: #817f79,
    60: #6a6863,
    70: #52504b,
    80: #3a3834,
    90: #22211e,
    95: #131211,
    98: #080707,
    99: #040404,
    100: #000000,
  ),
  secondary: (
    0: #ffffff,
    10: #e5e3df,
    20: #d2d0c9,
    25: #c3c0ba,
    30: #b4b1ab,
    35: #a6a39f,
    40: #999793,
    50: #807e78,
    60: #696762,
    70: #52504a,
    80: #3a3833,
    90: #22211d,
    95: #131210,
    98: #080707,
    99: #040403,
    100: #000000,
  ),
  tertiary: ( // Здесь может быть другой цвет, например, #87C4A7 или другой.
    0: #ffffff,
    10: #e4f6f6,
    20: #c6e8e9,
    25: #b3dcdb,
    30: #a0d0d1,
    35: #90c5c8,
    40: #81b9bd,
    50: #68a6ab,
    60: #509399,
    70: #378187,
    80: #206f76,
    90: #065e65,
    95: #024f54,
    98: #003c41,
    99: #002f33,
    100: #000000,
  ),
  neutral: (
    0: #ffffff,
    10: #e5e3e3,
    20: #d1cfcf,
    25: #c3c1c1,
    30: #b4b2b2,
    35: #a6a4a4,
    40: #989797,
    50: #807f7f,
    60: #696767,
    70: #525050,
    80: #3a3838,
    90: #222020,
    95: #131212,
    98: #080707,
    99: #040404,
    100: #000000,
    4: #f7f4f4,
    6: #f2f0f0,
    12: #e9e7e7,
    17: #dfdddd,
    22: #d5d3d3,
    24: #cccbcb,
    87: #2b2929,
    92: #1e1d1d,
    94: #161616,
    96: #0f0f0f,
  ),
  neutral-variant: (
    0: #ffffff,
    10: #e5e3e0,
    20: #d2d0cb,
    25: #c3c0bc,
    30: #b4b1ae,
    35: #a6a3a0,
    40: #999794,
    50: #807e7c,
    60: #6a6765,
    70: #52504e,
    80: #3a3836,
    90: #22211f,
    95: #131211,
    98: #080707,
    99: #040404,
    100: #000000,
  ),
  error: (
    0: #ffffff,
    10: #b82429,
    20: #90161b,
    25: #801116,
    30: #6c0b10,
    35: #5b070d,
    40: #4b030a,
    50: #300105,
    60: #210003,
    70: #130001,
    80: #070000,
    90: #030000,
    95: #010000,
    98: #000000,
    99: #000000,
    100: #000000,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
