@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Terminus";
  src: url("https://learnst.runasp.net/assets/fonts/Terminus (TTF) 500.ttf");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Terminus";
  src: url("https://learnst.runasp.net/assets/fonts/Terminus (TTF) Bold 700.ttf");
}

@font-face {
  font-weight: bold;
  font-style: italic;
  font-family: "Terminus";
  src: url("https://learnst.runasp.net/assets/fonts/Terminus (TTF) Bold Italic.ttf");
}

@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: "Terminus";
  src: url("https://learnst.runasp.net/assets/fonts/Terminus (TTF) Italic 500.ttf");
}
