@use 'sass:map';
@use '@angular/material' as mat;

// primary: #36393F, secondary: #2F3136, tertiary: #43B581, neutral: #FFFFFF
$_palettes: (
  primary: (
    0: #000000,
    10: #191c21,
    20: #2d3036,
    25: #383b41,
    30: #44474d,
    35: #505259,
    40: #5c5e65,
    50: #74777e,
    60: #8e9198,
    70: #a9abb2,
    80: #c4c6ce,
    90: #e0e2ea,
    95: #eff0f8,
    98: #f9f9ff,
    99: #fdfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #191c20,
    20: #2e3035,
    25: #393b40,
    30: #45474c,
    35: #515258,
    40: #5d5e64,
    50: #75777d,
    60: #8f9096,
    70: #aaabb1,
    80: #c5c6cc,
    90: #e2e2e8,
    95: #f0f0f7,
    98: #f9f9ff,
    99: #fdfbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #00164f,
    20: #092977,
    25: #1a3582,
    30: #28418e,
    35: #354e9a,
    40: #425aa7,
    50: #5c73c2,
    60: #768dde,
    70: #91a7fb,
    80: #b6c4ff,
    90: #dce1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1c,
    20: #2f3131,
    25: #3a3c3c,
    30: #454747,
    35: #515353,
    40: #5d5f5f,
    50: #767777,
    60: #909191,
    70: #aaabab,
    80: #c6c6c7,
    90: #e2e2e2,
    95: #f0f1f1,
    98: #f9f9f9,
    99: #fcfcfc,
    100: #ffffff,
    4: #0c0f0f,
    6: #121414,
    12: #1e2020,
    17: #282a2b,
    22: #333535,
    24: #37393a,
    87: #dadada,
    92: #e8e8e8,
    94: #eeeeee,
    96: #f3f3f4,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1c1f,
    20: #2f3034,
    25: #3a3b3f,
    30: #45474b,
    35: #515256,
    40: #5d5e62,
    50: #76777b,
    60: #909095,
    70: #aaabb0,
    80: #c6c6cb,
    90: #e2e2e7,
    95: #f0f0f5,
    98: #f9f9fe,
    99: #fdfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);