@use "mixins.scss" as mix;

.scale {
  &-1-5 {
    transform: scale(1.5);
  }

  &-2 {
    transform: scale(2);
  }
}

.p {
  & {
    padding: 12px !important;
  }
}

.m {
  & {
    margin: 12px !important;
  }

  &-2 {
    margin: 24px !important;
  }

  &t-0 {
    margin-top: 0 !important;
  }

  &t {
    margin-top: 12px !important;
  }

  &r {
    margin-right: 12px !important;
  }

  &b {
    margin-bottom: 12px !important;
  }

  &h {
    margin-left: 12px !important;
    margin-right: 12px !important;
  }

  &t-2 {
    margin-top: 24px !important;
  }

  &r-2 {
    margin-right: 24px !important;
  }

  &b-2 {
    margin-bottom: 24px !important;
  }

  &h-2 {
    margin-left: 24px !important;
    margin-right: 24px !important;
  }

  &r-3 {
    margin-right: 32px !important;
  }
}

.cursor {
  &-default {
    cursor: default;
  }

  &-pointer {
    cursor: pointer;
  }
}

.full {
  &-width {
    width: 100% !important;
  }

  &-height {
    height: 100% !important;
  }
}

.center {
  & {
    text-align: center;
  }

  &-control {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.right {
  text-align: right;
}

.hidden {
  display: none;
}

.fit {
  width: fit-content;
}

.closed {
  pointer-events: none;
  filter: blur(2px) brightness(95%);
}

.update-date {
  font-size: 0.9em;
}

.nav-btn {
  width: fit-content !important;
}

.input-button {
  right: 8px;
}

.more-button, .upload-button, .activity-more-button {
  position: absolute !important;
}

.more-button {
  top: 4px;
  right: 12px;
}

.activity-more-button {
  top: 16px;
  right: 8px;
}

.upload-button {
  top: 8px;
  right: -8px;
}

.select {
  &-all {
    @include mix.user-select(all);
  }

  &-none {
    @include mix.user-select(none);
  }
}
