.theme-picker {
  padding: 12px;

  .theme-grid {
    gap: 12px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));

    .theme-preview {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      cursor: var(--cursor-pointer) !important;
      transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      &.selected {
        animation: highlight 0.5s ease-in-out;
      }

      &:hover {
        transform: scale(1.1); // При наведении увеличиваем размер
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Добавляем тень
      }

      &.selected {
        border: 3px solid var(--mat-sys-primary); // Выделение выбранной темы
      }
    }
  }
}
