<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate, max-age=0" />
        <add name="Pragma" value="no-cache" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <mimeMap fileExtension=".avif" mimeType="image/avif"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
      <mimeMap fileExtension=".md" mimeType="text/markdown; charset=utf-8" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>

    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="..\" />
        </denyUrlSequences>
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
       <rule name="Exclude /files" stopProcessing="true">
         <match url="^videos/.*" />
         <action type="None" />
       </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
