.activities-container {
  gap: 16px;
  display: grid;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.activity-card {
  padding: 8px;
  overflow: hidden;
  border-radius: 20px;
  border: var(--mat-sys-level2);
  transition: all var(--transition-time) ease;
  background: var(--mat-sys-surface-container);
  box-shadow: var(--mdc-fab-container-elevation-shadow, var(--mat-sys-level2));

  &:active {
    // background: var(--card-active-bg);
    box-shadow: var(--mat-sys-level4);
  }

  &:focus-within {
    border-color: var(--mat-sys-level3);
  }

  // Применяем эффекты только к карточкам, которые НЕ имеют класса .closed-activity
  &:not(.closed-activity) {
    cursor: var(--cursor-pointer) !important;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background 0.3s ease-in-out;

    &:hover img {
      transform: scale(0.9);
    }
  }

  img {
    width: 80%;
    height: 100%;
    aspect-ratio: 1;
    margin: 8px auto;
    max-width: 400px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  //noinspection CssUnusedSymbol
  .mat-card-header {
    .mat-card-title {
      font-size: 24px;
      font-weight: bold;
    }
  }

  //noinspection CssUnusedSymbol
  .mat-card-actions {
    display: flex;
    margin-top: 4px;
    justify-content: flex-end;
    button {
      margin-left: 4px;
    }
  }
}

.closed-activity {
  opacity: 0.5;

  &, & *:not(.activity-more-button *) {
    cursor: var(--cursor-disabled) !important;
  }

  & .activity-more-button {
    filter: brightness(2);
  }
}

.closed-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

@media (max-width: 767px) {
  .course-btn {
    width: 100%;
    margin: 8px 0;
    padding: 24px;
  }
}
