<mat-card [class.mb-4]="isMediumScreen" appearance="outlined" class="container">
  <a [class.full-width]="isMediumScreen" class="mb" mat-button routerLink="/">
    На главную
  </a>

  @if (user?.role === Role.Specialist || user?.role === Role.Admin) {
    <a mat-button class="mb" routerLink="/activity/make" [class.full-width]="isMediumScreen">
      Создать
    </a>
  }

  <mat-form-field appearance="outline" class="full-width mt">
    <mat-label>Поиск активностей</mat-label>
    <input (keydown.enter)="onSearch()" [(ngModel)]="searchInput" matInput maxlength="2048"
           placeholder="Начинайте вводить название...">
    <button (click)="onSearch()" mat-icon-button matSuffix type="button">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div class="activities-container">
    @if (loading) {
      <mat-spinner></mat-spinner>
    } @else if (!paginatedActivities) {
      <small>Ничего не найдено...</small>
    } @else {
      @for (activity of paginatedActivities; track activity.id) {
        <mat-card class="activity-card"
                  [routerLink]="['/activity', activity.id]"
                  [ngClass]="{
                    'my-activity': activity.isEnrolled,
                    'closed-activity': activity.isClosed || toDate(activity.endAt) < now
                  }">
          <mat-card-header>
            <mat-card-title class="mr-3">
              @if (activity.isClosed || toDate(activity.endAt) < now) {
                <mat-icon class="closed-icon">lock</mat-icon> <!-- Иконка для закрытых активностей -->
              } @else if (activity.isEnrolled) {
                <mat-icon class="enrolled-icon">check_circle</mat-icon> <!-- Иконка для "моих" активностей -->
              }
              {{ activity.title }}
            </mat-card-title>
            @if (user?.role === Role.Specialist && activity.authorId === user?.id || user?.role === Role.Admin) {
              <button type="button" class="activity-more-button" mat-icon-button
                      [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button type="button" mat-menu-item (click)="editActivity(activity)">Изменить</button>
                <button type="button" mat-menu-item
                        (click)="openOrCloseActivity(activity)">{{ activity.isClosed ? 'Открыть' : 'Закрыть' }}
                </button>
                <button type="button" mat-menu-item (click)="deleteActivity(activity)" class="delete">Удалить</button>
              </mat-menu>
            }
          </mat-card-header>
          <img mat-card-image [src]="activity.avatarUrl!" [alt]="activity.title"
               noDownloading loading="lazy" placeholder="/assets/icons/placeholder.png">
          @if (user) {
            <mat-card-actions>
              @if (activity.isClosed) {
                Запись на активность закрыта
              } @else if (toDate(activity.endAt) < now) {
                Активность была открыта до {{ activity.endAt | ruDate }}
              } @else {
                <button type="button" mat-flat-button class="course-btn full-width"
                        (click)="toggleActivity($event, activity)">
                  {{ activity.isEnrolled ? 'Отписаться' : 'Записаться' }}
                </button>
              }
            </mat-card-actions>
          }
        </mat-card>
      }
    }
  </div>

  <mat-paginator
    (page)="onPageChange($event)"
    [length]="filteredActivities.length"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"/>
</mat-card>
